<body class="IndexBody2">
<main>
    <!-- Section 1: Intro -->
    <section class="row d-flex align-items-center">
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h2>Hi, I am Susana!</h2>
                <p>Glad to meet you! My journey started in Peru, my home country. There, I got my Bachelor's Degree in Industrial Engineering and worked for about 8 years for a reputable multinational company. My next step was to get a second degree abroad related to Computer Science. Hence, I applied and got accepted into the Computer Programming and Analysis Program (CMPA) at Georgian College. Last year, I completed my 8-month coop in the Children, Youth & Social Services I+IT Cluster (CYSSC) in the Ontario Public Service. Now, I am about to enter the final year of my studies here in Canada. My best qualities are: my strong problem-solver skills, my ability to work in teams or independently, and my perseverance. My personal hobbies include reading (books, mangas, comics, webtoons, etc.) and watching movies! </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <img src="/images/profile_image.jpg" class="img-fluid" alt="me">
            </div>
    </section>
    <!-- Section 2: Skills -->
    <section class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 mx-auto text-center">
        <h2>Technical Skills</h2>
        <ul>
            <li>
                Programming Language:&nbsp;
                <span class="badge text-bg-dark rounded-pill">C#</span>&nbsp;
                <span class="badge text-bg-dark rounded-pill">C++</span>&nbsp;
                <span class="badge text-bg-dark rounded-pill">Java</span>&nbsp;
                <span class="badge text-bg-dark rounded-pill">Python</span>
            </li>
            <li>
                Web design:&nbsp;
                <span class="badge text-bg-dark rounded-pill">HTML</span>&nbsp;
                <span class="badge text-bg-dark rounded-pill">CSS</span>
            </li>
            <li>
                Frontend Development:&nbsp;
                <span class="badge text-bg-dark rounded-pill">JavaScript</span>&nbsp;
                <span class="badge text-bg-dark rounded-pill">PHP</span>
            </li>
            <li>
                Backend Development:&nbsp;
                <span class="badge text-bg-dark rounded-pill">SQL</span>&nbsp;
                <span class="badge text-bg-dark rounded-pill">ASP.NET</span>
            </li>
            <li>
                Development Tools:&nbsp;
                <span class="badge text-bg-dark rounded-pill">Azure DevOps</span>&nbsp;
                <span class="badge text-bg-dark rounded-pill">GitHub</span>
            </li>

        </ul>
        </div>
    </section>
    <!-- Section 3a: Studies-->
    <section class="row d-flex align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 text-center ">
            <h2>Education</h2>
            <p><span class="black">Georgian College</span><br>
            Computer Programming and Analysis Diploma<br>
            Barrie, ON, Canada<br>
            2023 - 2026</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <img src="/images/georgian_logo.png" class="logo logo_1 img-fluid" alt="me">
        </div>
    </section>
    <!-- Section 3b: Studies-->
    <section class="row d-flex align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 text-center ">
            <p><span class="black">Universidad Nacional Mayor de San Marcos</span><br>
                Bachelor Degree in Industrial Engineering<br>
                Lima,Peru<br>
                2004 - 2008</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <img src="/images/unmsm_logo.png" class="logo logo_2 img-fluid" alt="unmsm">
        </div>
    </section>
    <!-- Section 4a: Job Experience -->
    <section class="row d-flex align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <h2>Professional Experience</h2>
            <p><span class="black">Children, Youth & Social Services I+IT Cluster (CYSSC) <br>
                Ontario Public Service (OPS) </span><br>
                Tester Coop <br>
                Toronto, ON, Canada<br>
                2024</p>
            <p>Responsible for providing support as a QA Tester in functional manual testing at the ACESC - Adoption & Children in Extended Society Care Redesign Application Project.<br>
                85 Manual Test Cases written, 75 User Stories/functionalities fully evaluated, 140 defects detected and formally reported to the Developer Team</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <img src="/images/ops_logo.png" class="logo logo_3 img-fluid" alt="ops">
        </div>
    </section>
    <!-- Section 4b: Job Experience -->
    <section class="row d-flex align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <p><span class="black">QUAD GRAPHICS PERU S.A.</span><br>
                Head Production Planner and Head of Technical Design Office<br>
                Lima, Peru<br>
                2011 - 2019</p>
            <p>Responsible for the short, medium and long term programming of production processes in the 6 productive areas of the factory, reporting to the Operations Management and the General Management<br>
                Kept the ratio of 95% of deliveries of work orders on time </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">

            <img src="/images/qg_logo.png" class="logo logo_4 img-fluid" alt="qg">
        </div>
    </section>
    <!-- Section 5: Final picture -->
    <section class="row">
        <img src="/images/award_image.jpg" class="img-fluid d-block mx-auto " alt="grizzly">
    </section>
</main>
</body>