<body class="IndexBody4">

<main>
    <section class="masthead_contact">
        <div>
            <h1>Leave me a Message</h1>
        </div>
    </section>
    <section class="form-col">
        <div class="col-sm-9 col-md-9 col-lg-6 mx-auto">
        <form method="post" action="#">
            <!-- This form only has 3 fields to fill in  -->
            <p><input class="form-control" name="username" type="text" placeholder="Name" required /></p>
            <p><input class="form-control" name="useremail" type="email" placeholder="Email" required /></p>
            <p><textarea class="form-control" name="usermessage"  placeholder="Message" rows="5" required></textarea></p>
            <button type="button" class="btn btn-light d-block mx-auto" >Submit</button>
        </form>
        </div>
    </section>
</main>

</body>