
<body class="IndexBody5">
<main>
    <section class="masthead_error">
        <div>

        </div>
    </section>
    <section>
        <div class="col-sm-9 col-md-9 col-lg-6 mx-auto">
                <h2>Page not found!!!</h2>
                <p></p>
                <p>Please, click on any of the hyperlinks on the header or footer to return to the site</p>
                <h1>{{message}}</h1>
                <h2>{{error.status}}</h2>
                <pre>{{error.stack}}</pre>      
        </div>
    </section>
</main>

</body>
