<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Add our required metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <meta name="description" content="This is JSFrameworks COMP2068-02 Assignment -01">
    <meta name="robots" content="noindex, nofollow">
    <!-- Add our 6 fonts: Oswald, Montserrat, Tenor, Roboto, Raleway, Montserrat Alternates -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap" rel="stylesheet">
    <!-- Add our jQuery (https://releases.jquery.com/ ) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--   ↑ minified version-->
    <!-- Add Bootstrap (https://getbootstrap.com/) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Icons (https://icons.getbootstrap.com/#usage) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Add our own CSS -->
    <link rel="stylesheet" href='/stylesheets/style.css' >
    <link rel="icon" href="/images/icon.png" type="image/x-icon">
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="index">
            <img src="/images/header_logo.png" alt="header logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link"   href="index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="about">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
    {{{body}}}
<footer>
      <div class="container-fluid bg-dark text-center" >
    <div class="row align-items-start">
        <div class="col">
            <a href="contact"  class="text-decoration-none">
            <i class="bi bi-envelope fs-1"></i>
            </a>
        </div>
        <div class="col">
            <a href="https://github.com/SusanaCajavilca" target="_blank" class="text-decoration-none">
                <i class="bi bi-github fs-2"></i>
            </a>
            <a>&nbsp;&nbsp;&nbsp;</a>
            <a href="https://www.linkedin.com/in/susana-cajavilca-turco/" target="_blank" class="text-decoration-none">
                <i class="bi bi-linkedin fs-2" ></i>
            </a>
        </div>
        <div class="col">
            <a href="#" class="text-decoration-none">
                <i class="bi bi-arrow-up-circle-fill fs-1"></i>
            </a>
        </div>
    </div>
</div>
    </footer>
  </body>
</html>
