<body class="IndexBody3">
<main>
    <section class="container-fluid">
        <h1>MY PROJECTS</h1>
        <!-- Create a row to hold the cards -->
        <div class="row centered-row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 15rem;">
                    <img src="/images/thmb1_csharp_logo.png" class="card-img-top"  alt="Project1">
                    <div class="card-body">
                        <h5 class="card-title">C# Project</h5>
                        <p class="card-text">Interactive Game designed in <span class="badge text-bg-dark rounded-pill">C#</span> using logic decisions and applying fundamentals.</p>
                        <a href="#prj1" class="btn btn-dark">Check it!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 15rem;">
                    <img src="/images/thmb2_css_logo.png" class="card-img-top"  alt="Project2">
                    <div class="card-body">
                        <h5 class="card-title">HTML-CSS Project</h5>
                        <p class="card-text">Mini website constructed through <span class="badge text-bg-dark rounded-pill">HTML</span>, <span class="badge text-bg-dark rounded-pill">CSS</span> design concepts and page layout techniques.</p>
                        <a href="#prj2" class="btn btn-dark">Check it!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 15rem;">
                    <img src="/images/thmb3_c++_logo.png" class="card-img-top"  alt="Project3">
                    <div class="card-body">
                        <h5 class="card-title">Arduino Project</h5>
                        <p class="card-text">Interactive Game designed in <span class="badge text-bg-dark rounded-pill">C++</span> through Tinkercad platform, that leverage the Internet of Things</p>
                        <a href="#prj3" class="btn btn-dark">Check it!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card" style="width: 15rem;">
                    <img src="/images/thmb4_python_logo.png" class="card-img-top"  alt="Project4">
                    <div class="card-body">
                        <h5 class="card-title">Python Project</h5>
                        <p class="card-text">An automated solution through <span class="badge text-bg-dark rounded-pill">Python</span> to replace sequences of manual operations work-applied.</p>
                        <a href="#prj4" class="btn btn-dark">Check it!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="prj1" class="container-fluid">
        <h2>RUSSIAN ROULETTE WITH COINS</h2>
        <p>Interactive game designed on <span class="badge text-bg-dark rounded-pill">C#</span> and Visual Studio Code. Based on the classic Russian Roulette game, during 6 stages, two players play against each other. Coded using input validation, logic decisions sequence, and output streams.</p>
        <video id="video_01" autoplay loop muted controls>
            <source src="/images/video_project_01.mp4" type="video/mp4">
        </video>
    </section>
    <section id="prj2" class="container-fluid">
        <h2>KAWAI KOFFEE WEBSITE</h2>
        <p>Mini 4-pages website for a fictional store with a coffee theme. Applied advanced <span class="badge text-bg-dark rounded-pill">CSS</span> selectors, page layout techniques, interactive interface elements, colour theory / application, typography, and a variety of CSS-based effects.</p>
        <p><a class="nav-link"  href="https://susanacajavilca.github.io/WebsiteKawaiKoffee/" target="_blank"><button type="button" class="btn btn-dark d-block mx-auto" >Click here to visit the website!</button></a></p>
        <video id="video_02" autoplay loop muted controls>
            <source src="/images/video_project_02.mp4" type="video/mp4">
        </video>
    </section>
    <section id="prj3" class="container-fluid">
        <h2>ARDUINO INTERACTIVE GAME </h2>
        <p>Interactive Russian Roulette 3-D game designed on <span class="badge text-bg-dark rounded-pill">C++</span>. Using the free Tinkercad app, and combining electronic elements such as LCD screen, RGB leds, buzzers, altogheter with the implementation of smart-choice for the PC player.</p>
        <video id="video_03" autoplay loop muted controls>
            <source src="/images/video_project_03.mp4" type="video/mp4">
        </video>
    </section>
    <section id="prj4" class="container-fluid">
        <h2>DOC-AUTOMATION CONDO ADMINISTRATION</h2>
        <p>The application designed on <span class="badge text-bg-dark rounded-pill">Python</span> generated automatically 180 month-maintenance-fee receipts in an Excel Spreadsheet, a Word document one-page debt notification personalized, and  an automated chart report in an Excel Spreadsheet for debt evolution .</p>
        <video id="video_04" autoplay loop muted controls>
            <source src="/images/video_project_04.mp4" type="video/mp4">
        </video>
    </section>

</main>

</body>